# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/

# Variáveis de ambiente (NUNCA sobe para o GitHub)
.env

# Banco de dados local
*.db

# React
frontend/node_modules/
frontend/dist/
frontend/build/

# Sistema operacional
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/